// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
//************************NAVBAR TWEEKS************************
//aligns menu items to the right
.assistive-text {
  height: 1px; 
  width: 1px; 
  position: absolute; 
  overflow: hidden; 
  top: -10px;
}


#navbarNavDropdown {
  justify-content: flex-end;
}

//gets rid of round edges on child menu elements
.dropdown-menu {
	border-radius: 0;
}

//force underline on sub-menu hover
.dropdown-item:focus, .dropdown-item:hover {
	text-decoration: underline;
}

//prevent default fade to non-accessible on pages that are not the active page
.navbar-dark .navbar-nav .nav-link {
  color: $dark-gray;
}

#the-menu {
	background-color: #fff !important;
  border-bottom: 1px solid #C7CDD1;
}

li.active {
	text-decoration: underline;
	color: $dark-gray;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar>.container, .navbar>.container-fluid {
  display: flex;
  justify-content: flex-start;
}

#menu-hider {
  display: inline-block;
  margin-right: 20px;
  color: #4e4e4e;
  border: none;
  background-color: #fff;
  transition: all .2s;
}

#menu-hider:hover {
  background-color: #b9b9b9;
}

.navbar .fa-chevron-right {
  margin-right: 5px;
  margin-left: 5px;
  color: #9a9a9e;
}

//Trying to get rid of chevron on parent of nested items
// .item-parent .fa-chevron-right {
//   background: #ff0000;
//   display: none;
// }




//************************BASIC CONTENT CHOICES************************
article a {
	text-decoration: underline;
}

html, body, p, h1, h2, h3, h4, h5 {
	font-family: "LatoWeb","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 2.5em;
    font-weight: 200;
    margin: 15px 0;
    color: #666;
    line-height: 1.5;
}

#secondary img, article img, figure, img, img.wp-post-image {
	margin-bottom: 1em;
}

figure {
  border: 1px solid #efefef;
  padding: 7px;
}

p {
	background-color: $white;
	padding: .8em .4em;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #2a2b2e;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

.table {
	background-color: $white;
}

.jumbotron {
	border-radius: 0;
}

.custom-header-img {
	height: 40vw;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

//BACKGROUND
#full-width-page-wrapper {
	background-image: url(../imgs/topo-right-30.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: 400px 800px;
	background-attachment: fixed;
}

//CUSTOM BACKGROUNDS
.altlab-edgebars {
  border-right: 2vw solid #ffb300;
  border-left: 2vw solid #ffb300;
}

//CUSTOM LOGOS
.altlab-menu-logo {
  background-image: url(../imgs/altlab-blkgld180-logo.svg);
	background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  width: 180px;
  height: 40px;
  flex: auto;
}

.online-vcu-menu-logo {
  background-image: url(../imgs/online-vcu-blkgld180-logo.svg);
	background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  width: 180px;
  height: 40px;
  flex: auto;
}

//SUB ORGS
.jumbotron.water {
  background: url(../imgs/topographic-background-2-white.svg), linear-gradient(rgba(0, 179, 190, 0), rgba(158, 158, 158, 1));
  background-repeat: no-repeat; 
  background-size: cover; 
  background-color: rgba(0,0,0,0);
}

.water .card-img-top {
	border-radius: 50%;
	border: 2px solid $white;
	width: 80%;
	height: auto;
	margin: 0 auto;
}

.water .card-title {
	background-color: $white;
	padding: .2em;
	display: inline-block;
	text-align: center;
	font-size: 1.5em;
	height: 3em;
	width: 100%;
	margin: 0 auto;
}

.water .card {
	height: 100%;
	background-color: rgba(0,0,0,0);
	border: none;
}

//FOOTER 
#wrapper-footer {
	padding-top: 5em;
	background-color: $dark-gray;	
}

.footer-widget{
	background-color: $dark-gray;
	padding-top: 3em;
	color: $white;
	line-height: 1em;
}

.widgetizedArea p {
	background-color: $dark-gray;
	color: $white;
	padding: .2em 0;
	margin: 0;
}

.widgetizedArea h3 {
	color: $gold;
	font-size: 1.2em;
}

//JUST BLOCKQUOTE
//from https://codepen.io/iPawan/pen/emrPKP
blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-size: 1.2em;
  line-height: 1.2;
  color: #666;


  /*Borders - (Optional)*/
  border-left-style: solid;
  border-left-width: 15px;
  border-right-style: solid;
  border-right-width: 2px;    
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px; 
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}

  /*Default Color Palette*/
blockquote.default{ 
  border-left-color: #656d77;
  border-right-color: #434a53;  
}


//BOOTSTRAP BREAKOUT

.break-out{
  width: 100vw;
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);
  color: rgba(0,0,0,.6);
  display: block;
}

.flexy {
  display: flex;
  justify-content: space-between;
}


/* LEFT SIDE BAR */

#left-sidebar ul {
  list-style: none;
}

#left-sidebar li {
  margin: 8px 0;
  background-color: #f9f9f9;
  border-radius: 4px;
  padding: 2px;
}

#left-sidebar li a {
  display: inline;
  padding: 5px 9px;
  border-radius: 3px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  margin-right: 6%;
}

#left-sidebar li a[aria-current] {
  background-color: $dark-gray;
  color: #fff;
  font-weight: 600;
}

#left-sidebar a:hover {
    background: #e2e2e2;
}

#left-sidebar ul.children {
  padding-inline-start: 20px;
}

#left-sidebar aside:last-child {
	background: #f5f5f5;
  color: #2d3b45;
  border: 1px solid;
  border-color: #c7cdd1;
  border-radius: 3px;
    -webkit-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
	display: block;
	position: relative;
	padding: 8px 14px;
	font-size: 1rem;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	overflow: hidden;
	text-shadow: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-bottom: 7px;
	line-height: 1em;
	float: right;
}

#left-sidebar aside:last-child a:hover {
	background-color: transparent;
}

#left-sidebar aside:last-child:hover {
	background-color: #e8e8e8;
}

#left-sidebar aside:last-child img {
	margin-bottom: .6em;
}

.crumb {
  font-size: 1.2em;
  font-weight: 200;
  margin: 0 4px;
}

.crumb-finalchild {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0 4px;
}

.hidden {
  opacity: 0;
  height: 0px;
}



.edit-header {
  text-align: right;
  border-bottom: 1px solid #C7CDD1;
}

.edit-btn, .sub-nav-btn {
    background: #f5f5f5;
    color: #2D3B45;
    border: 1px solid;
    border-color: #C7CDD1;
    border-radius: 3px;
    transition: background-color 0.2s ease-in-out;
    display: inline-block;
    position: relative;
    padding: 8px 14px;
    margin-bottom: 0;
    font-size: 16px;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    text-shadow: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 7px;
    line-height: 1.4em;
}

.edit-btn:hover, .sub-nav-btn:hover {
  background-color: #e8e8e8;
} 

.edit-btn i {
  margin-left: 5px;
}

#sub-nav-footer {
  border-top: 1px solid #c7cdd1;
  margin-top: 20px;
  padding-top: 15px;
  display: grid;
  grid-template-columns: 130px auto 130px;
  grid-template-rows: 50px;
}

#prev-btn {
  grid-column-start: 1;
  grid-column-end: 1;
}


#next-btn {
  grid-column-start: 3;
  grid-column-end: 3
}


.sub-nav-btn {
  width: 120px;
}

//full size video 

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


//expanding menu
#left-sidebar ul {
  padding-inline-start: 20px;
  transition: all .3s ease;
}

.hidden {
  height: 0;
  opacity: 0;
  width: 0;
  overflow: hidden;
  transition: all .3s ease;
}

.expand {
  display: block;
  background-color: #e9e9e9;
  // width: 40px;
  text-align: center;
  float: right;
  margin-left: -50%;
  border: none;
  border-radius: 4px;
  // margin-top: 2em;
}


.highlight {
  background-color: #d1ecf1;
  padding: 1px 3px
}

.button {
  border: 1px solid;
  display: inline-block;
  transition: all .3s;
  cursor: hand;
  width: 230px;
}

.button:hover {
  background-color: #d1ecf1;
}